* {
  top: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1e555c;
  color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content:  center;
}

.container {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 45vw;
  height: 45vh;
}

.title {
  font-size: 3rem;
  padding: 1rem;
}

.lengths {
  display: flex;
  flex-direction: row;
  justify-content:  space-evenly;
  font-size: 1.25rem;
}

.length {
  margin: 1rem;
  margin-bottom: 0;
}

.length_controls {
  display: flex;
  flex-direction:  row;
  justify-content: space-evenly;
  margin: 1rem;
  margin-bottom: 0;
}

.timer {
  display: grid;
  align-items:  center;
  font-size: 48px;
  background-color: #eee;
  color: #111;
  border-radius: 50px;
  width: 300px;
  margin: 1rem;
}

.controls {
  margin: 1rem;
}

/* buttons */

button {
  border: none;
  background-color: #1e555c;
  font-size: 1.5rem;
  color: darkgray;
}

button:hover {
  cursor: pointer;
}